<section class="container home-list-product">
  <h1>Todos os produtos</h1>
  <p *ngIf="exibeMensagemDelete" class="message-success"> {{productMessageDelete}} </p>
  <div class="table-responsive" >
   <table class="table table-hover">
      <thead >
          <tr scope="thead-light">
              <th >ID</th>
              <th >Foto</th>
              <th >Nome</th>
              <th >Preço</th>
              <th >Cor</th>
              <th >Categoria</th>
              <th >Descrição</th>
              <th >Ação</th>
          </tr>
      </thead>
      <tbody >
        <tr  *ngFor="let item of productList">
          <td class="align-self-start"> {{item.id}} </td>
          <td > <img src="{{item.image}}" alt="{{item.name}}"> </td>
          <td > {{item.name}} </td>
          <td > {{item.price}} </td>
          <td > {{item.color}} </td>
          <td > {{item.category}} </td>
          <td > {{item.description}} </td>

          <td class="icones-de-action" >
            <fa-icon class="faTrash" (click)="deleteProduct(item.id)" [icon]="deleteIcon"></fa-icon>
            <a routerLink="/seller-update-product/{{item.id}}">
              <fa-icon class="faEdit" [icon]="editIcon"></fa-icon>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</section>
