.home-list-product{
  background-color: rgb(255, 255, 251);
}
table{
  border-collapse: collapse;

}
table td, table th{
  border: 1px solid #7575753a;
  min-height: 150px;
  text-align: center;

}
img{
  max-width: 100px;
  height: auto;
  border-radius: 5px;
}
.description-product{
  text-align: left !important;
}
.icones-de-action fa-icon{
  padding: 0px 5px;
}
.faTrash
{
  color: red;
}
.faEdit
{
  color: green;
}

