.product-details{
  display: flex;
}
.product-single-image img{
  max-height: 300px;
  width: 100%;
  object-fit: contain;
}
.product-item{
  display: flex;
  flex-direction: column;
  box-shadow: -3px 0px 21px 0px rgba(32,32,36,0.46);
  -webkit-box-shadow: -3px 0px 21px 0px rgba(32,32,36,0.46);
  -moz-box-shadow: -3px 0px 21px 0px rgba(32,32,36,0.46);
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 50px;
}
.product-item-image{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.product-item-image img{
  max-height: 150px;
  width: 100%;
  object-fit: contain;
}
.product-item-detail{

  margin: 0;
  padding: 5px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
