<div class="seller-auth">
   <div class="retangulo"></div>

   <div class="signup">
      <div class="entrar">
         <h1>Entrar</h1>
      </div>
      <hr>
      <div class="estilo-hr">
      </div>
      <div class="cadastrar">
         <h1>Cadastra-se</h1>
         <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="formulario">
            <div class="itens-formulario">
               <p class="form-rotulo">Nome de usuário<span>*</span></p>
               <input class="form-input" type="text" ngModel name="name" placeholder="Nome">

               <p class="form-rotulo">Crie sua senha<span>*</span></p>
               <input class="form-input" type="password" ngModel name="password" placeholder="Digite sua senha">

               <p class="form-rotulo">Seu melhor e-mail<span>*</span></p>
               <input class="form-input" type="text" ngModel name="email"  placeholder="Digite seu e-mail">

               <div class="btn-form">
                  <button  class="btn-verde">Cadastra-se </button>
               </div>
            </div>

         </form>
      </div>
   </div>
</div>
