:root{
  --Roxo:#732472;
  --Vermelho:#f1331b;
  --Laranja:#efab52;
  --Rosa:#ffa9c5;
  --Amarelo:#feff00;
  --Dourado:#ffd700;
  --Azul:#0401fe;
  --rosa:#FF2978;
}
.section-menu{
   height: 70px;
   margin-bottom: 50px;
}
.logo-menu-topo h1{
   color: var(--Navy-Blue) !important;
}
.nav{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }
.nav ul{
   display: flex;
   list-style-type: none;
   margin-bottom: 0 !important;
}
.nav a {
   text-decoration: none;
   padding: 10px;
}
.nav a:hover{
   color:var(--rosa) ;
}
.nav a:focus{
   color:var(--rosa) ;
}
.nav-search{
   align-content:center ;
   flex-grow:inherit;
}
.click-a-direita{
   background: var(--rosa);
   border-color: transparent !important;
   border-top-right-radius:  6px;
   border-bottom-right-radius: 6px;
}
svg{
   fill: #fff;
   padding: 0 20px;
}
.nav-search-input{
   border: 1px solid #00000027;
   /* height: 28px;
   width: 300px; */
}

.suggested-search{
  position: absolute;
  top: 140px;
  display: list-item !important;
  z-index: 99;
  border: 1px solid #dddddd3a;
  background-color: #f7F7f7;
  width: 300px;
}
.suggested-search ul{
  padding-left: 0 !important;
}

.suggested-search li a
{
  text-transform: capitalize;
  color: var(--Navy-Blue);
  cursor: pointer;
}
@media screen and (max-width: 450px) {
   .navbar-logo{
      width: 20%;
   }
   .itens-de-menu{
      width: 80%;
   }
   .itens-diversos{
      font-size: 12px;
   }
   .nav-search input{
      width: 300px;
   }
   .section-menu{
      margin-bottom: 0px;
   }
}

