:root{
  --Roxo:#732472;
  --Vermelho:#f1331b;
  --Laranja:#efab52;
  --Rosa:#ffa9c5;
  --Amarelo:#feff00;
  --Dourado:#ffd700;
  --Azul:#0401fe;
}
.section-menu{
   background-color: #dcf11b;
   height: 70px;
}
.logo-menu-topo h1{
   color: var(--Navy-Blue) !important;
}
.nav{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }
.nav a {
   text-decoration: none;
}
.nav ul{
   display: flex;
   list-style-type: none;
   margin-bottom: 0 !important;
}
.suggested-search{
  position: absolute;
  top: 140px;
  display: list-item !important;
  z-index: 99;
  border: 1px solid #dddddd3a;
  background-color: #f7F7f7;
  width: 300px;
}
.suggested-search ul{
  padding-left: 0 !important;
}

.suggested-search li a
{
  text-transform: capitalize;
  color: var(--Navy-Blue);
  cursor: pointer;
}
