<section class="container-fluid section-menu-topo">

   <div class="container">
      <nav class="navbar">
         
         <!-- <ul><li><span><i class="fa-solid fa-phone"></i></span><p><a href="tel:+12345678900">+55(11)9 9876-5432</a></p></li><li><span><i class="fa-solid fa-envelope"></i></span><p><a href="mailto:contato@gmail.com">contato@gmail.com</a></p></li></ul> -->

         <div class="logo">
             <h1>Agência Fake</h1>
         </div>
         <div class="menu">
             <a href="#">Home</a>
             <a href="#">Sobre Nós</a>
             <a href="#">Serviços</a>
             <a id="botao" href="#">Fale Conosco</a>
         </div>
      </nav>
   </div>

</section>
