.section-menu-topo{
  background-color: var(--Purple);
  height: 40px;
  margin-bottom: 50px;
}
.items-do-topo{
 display: flex;  
 flex-direction: row;
 justify-content: space-between;
 padding-top: 5px;
}
.items-do-topo a {
   color: #fff;
   padding: 0px 10px;
   text-decoration: none;
}
.items-do-topo svg{
   color: #fff;
}
.items-do-topo ul{
   display: flex;
   flex-direction: row;
}
.items-do-topo li{
   display: flex;
   flex-direction: row;
   margin-right: 10px;
}
svg {
   fill: #fff;
} 
.menu-superior span{
   margin-right: 5px;
}
.menu-superior a:hover{
   color:var(--Red);
}
   