
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');



/* Legenda de cores
 */
:root{
  --Purple:#7E33E0;
  --Off-Purple:#A065B4;
  --Pink:#FB2E86;
  --rosa:#FF2978;
  --Navy-Blue:#151875;
  --Off-Navy-Blue:#414E9B;
  --Red:#FA2546;
  --Blue:blue;
  --Off-Blue:#2F1AC4;
  --Pantone-Purple: #E1CEF5;

  --bg-primary-blue:#1877f2;
  --bg-primary-blue-hover:#1147fc;
  --bg-primary-verde:#154551;
  --bg-primary-verde-hover:#113640;
  --bg-secundary-verde:#a3cfbb;;
  --color-placeholder: #9abad3;
  --bg-primary-light: #d1e7dd;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
   font-family: 'Josefin Sans', sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  background-color: #ffffff;
}
/* no minuto 2:44 tem estilização de css */
.btn-azul{
  background-color: var(--bg-primary-blue);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform:uppercase ;
  margin-top: 15px;
  border-color: var(--bg-primary-blue) !important;
}

.btn-azul:hover{
  background-color: var(--bg-primary-blue-hover);
  border-color: #ffffff;
}
.btn-verde{
  background-color: var(--bg-primary-verde) ;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-transform:uppercase ;
}
 .btn-verde:hover{
  background-color: var(--bg-primary-verde-hover) ;
}
.btn-azul-grande{
  width: 100%;
  color: #fff !important;

}
.message-error {
  background: rgba(255, 0, 0, 0.03);
  padding: 15px;
  text-align: center;
  color: red;
  border: 1px solid red;
  margin-bottom: 15px;
}
.message-success {
  color: #0a3622;
  background-color: var(--bg-primary-light);
  border: 1px solid var(--bg-secundary-verde);
  font-size: 1rem;
  padding: 10px 30px;
}
.itens-formulario{
  display: flex;
  justify-content: center;

}
.itens-formulario form
{
  display: flex;
  flex-direction: column;
  width: 330px;
  box-shadow: 0 4px 12px 5px rgba(0, 0, 0, 0.08);
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.itens-formulario input, textarea {
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
    padding: 0 15px;
    margin-top: 10px;
    border-radius: 6px;
}
.form-input::placeholder {
  color: var(--color-placeholder);
}
