@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* Legenda de cores
 */
:root{
  --Purple:#7E33E0;
  --Off-Purple:#A065B4;
  --Pink:#FB2E86;
  --rosa:#FF2978;
  --Navy-Blue:#151875;
  --Off-Navy-Blue:#414E9B;
  --Red:#FA2546;
  --Blue:blue;
  --Off-Blue:#2F1AC4;
  --Pantone-Purple: #E1CEF5;

  --bg-primary-blue:#1877f2;
  --bg-primary-blue-hover:#1147fc;
  --bg-primary-verde:#154551;
  --bg-primary-verde-hover:#113640;
  --bg-secundary-verde:#a3cfbb;;
  --color-placeholder: #9abad3;
  --bg-primary-light: #d1e7dd;
  --btn-green: rgb(89, 192, 11);
  --btn-green-hover: rgb(71, 153, 8);;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  background-color: #ffffff;
}
/* no minuto 2:44 tem estilização de css */
.btn{
  min-height: 30px;

}
.btn-azul{
  background-color: var(--bg-primary-blue);
  color: #fff;
  border-radius: 5px;
  text-transform:uppercase ;
  border-color: transparent !important;
}
.btn-azul:hover{
  background-color: var(--bg-primary-blue-hover);
  color: #e7e6e6;
}
.btn-pink{
  background-color: var(--Pink);
  color: #fff;
  padding: 10px 10px;
  border-radius: 5px;
  text-transform:capitalize;
  margin-top: 15px;
  border-color: transparent !important;
}
.btn-pink:hover{
  background-color: var(--Red);
  border-color: #ffffff;
}
.btn-verde{
  background-color: var(--bg-primary-verde) ;
  color: #fff;
  /* padding: 7px 10px; */
  border-radius: 5px;
  text-transform:capitalize;
  border-color: transparent !important;
}
 .btn-verde:hover{
  background-color: var(--bg-primary-verde-hover);
  color: #e7e6e6;
}
.btn-azul-grande{
  width: 100%;
  color: #fff !important;
}
.btn-green{
  text-decoration: none;
  font-size: 16px;
  background-color: rgb(89, 192, 11);
  color: rgb(254, 254, 254);
  border-color: transparent !important;
  border-radius: 5px;
  padding: 5px 10px;
}
.btn-green:hover{
  background-color: var(--btn-green-hover);
}
.text-green{
  color: rgb(89, 192, 11);
  font-weight: 500;
  text-transform: uppercase;
}
.text-green:hover{
  color: var(--btn-green-hover);
  font-weight: 700;
}
.message-error {
  background: rgba(255, 0, 0, 0.03);
  padding: 15px;
  text-align: center;
  color: red;
  border: 1px solid red;
  margin-bottom: 15px;
}
.message-success {
  color: #0a3622;
  background-color: var(--bg-primary-light);
  border: 1px solid var(--bg-secundary-verde);
  font-size: 1rem;
  padding: 10px 30px;
}
.itens-formulario{
  display: flex;
  justify-content: center;

}
.itens-formulario form
{
  display: flex;
  flex-direction: column;
  width: 330px;
  box-shadow: 0 4px 12px 5px rgba(0, 0, 0, 0.08);
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.itens-formulario input, textarea {
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
    padding: 0 15px;
    margin-top: 10px;
    border-radius: 6px;
}
.form-input::placeholder {
  color: var(--color-placeholder);
}
