@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* Legenda de cores
 */
:root{
  --Roxo:#732472;
  --Vermelho:#f1331b;
  --Laranja:#efab52;
  --Rosa:#ffa9c5;
  --Amarelo:#feff00;
  --Dourado:#ffd700;
  --Azul:#0401fe;
  --bs-primary-blue: #1877f2;
  --color-placeholder: #9abad3;
  --background-color: #d1e7dd;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}
/* no minuto 2:44 tem estilização de css */
.btn-azul{
  background-color: var(--bs-primary-blue);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform:uppercase ;
  margin-top: 15px;
  border-color: var(--bs-primary-blue) !important;
}

.btn-azul:hover{
  background-color: #1147fc;
  border-color: #ffffff;
}
.btn-verde{
  background-color: #154551;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-transform:uppercase ;
}
 .btn-verde:hover{
  background-color: #113640;
}
.btn-azul-grande{
  width: 100%;
  color: #fff !important;

}
.message-error {
  background: rgba(255, 0, 0, 0.03);
  padding: 15px;
  text-align: center;
  color: red;
  border: 1px solid red;
  margin-bottom: 15px;
}
.message-success {
  color: #0a3622;
  background-color: #d1e7dd;
  border: 1px solid #a3cfbb;
  font-size: 1rem;
  padding: 10px 30px;
}
.itens-formulario{
  display: flex;
  justify-content: center;

}
.itens-formulario form
{
  display: flex;
  flex-direction: column;
  width: 330px;
  box-shadow: 0 4px 12px 5px rgba(0, 0, 0, 0.08);
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.itens-formulario input, textarea {
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
    padding: 0 15px;
    margin-top: 10px;
    border-radius: 6px;
}
.form-input::placeholder {
  color: var(--color-placeholder);
}
