/* .session-carrossel{
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
/* .session-featured-products{
  /* padding-top: 80px; 
} */
/* .session-featured-products{
  padding: 0;
} */
.product-item{
  display: flex;
  flex-direction: column;
  box-shadow: -3px 0px 21px 0px rgba(32,32,36,0.46);
  -webkit-box-shadow: -3px 0px 21px 0px rgba(32,32,36,0.46);
  -moz-box-shadow: -3px 0px 21px 0px rgba(32,32,36,0.46);
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 50px;
}
.product-item-image{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.product-item-image img{
  max-height: 150px;
  width: 100%;
  object-fit: contain;
}
.product-item-detail{

  margin: 0;
  padding: 5px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.product-item a
{
  text-decoration: none;
}
.product-item-detail-name h6{
  color: var(--Off-Navy-Blue);
  line-height: 1.25rem;
  font-size: 14px;
}
.product-item-price h4{
  Color: var(--Navy-Blue);
  flex-wrap: wrap;
}
