<section class="container session-carrossel">
  <app-carrossel-bootstrap></app-carrossel-bootstrap>
</section>

<section class="container session-featured-products">
  <h3 class="title-featured-products">Featured Products</h3>
  <img src="https://fastly.picsum.photos/id/610/200/300.jpg?hmac=O1d50QqoBFGhSj9Hd8cdWjPlhPJEMWFE8HRsHArsnfk" alt="lorem1">
  <img src="https://picsum.photos/id/237/200/300" alt="lorem1">
  <img src="https://picsum.photos/200/300" alt="lorem1">
</section>

<section class="container session-leatest-products">
  <h3 class="title-leatest-products">Leatest Products</h3>
  <img src="https://fastly.picsum.photos/id/866/200/300.jpg?hmac=rcadCENKh4rD6MAp6V_ma-AyWv641M4iiOpe1RyFHeI" alt="lorem1">
  <img src="https://fastly.picsum.photos/id/668/200/300.jpg?grayscale&hmac=aiq-8BHFhefUrWR9eD4e_z2G49NiH1UdFCC4sBdbsBg" alt="lorem1">
  <img src="https://picsum.photos/200/300" alt="lorem1">
  <img src="https://fastly.picsum.photos/id/610/200/300.jpg?hmac=O1d50QqoBFGhSj9Hd8cdWjPlhPJEMWFE8HRsHArsnfk" alt="lorem1">
  <img src="https://picsum.photos/id/237/200/300" alt="lorem1">
  <img src="https://picsum.photos/200/300" alt="lorem1">
</section>

<section class="container session-what-products">
  <h3 class="title-what-products">What Shopex Offer!</h3>
  <img src="https://uploaddeimagens.com.br/images/004/651/068/thumb/caixa01.png?1698639680" alt="lorem1">
  <img src="https://uploaddeimagens.com.br/images/004/651/068/thumb/caixa01.png?1698639680" alt="lorem1">
  <img src="https://uploaddeimagens.com.br/images/004/651/068/thumb/caixa01.png?1698639680" alt="lorem1">
  <img src="https://uploaddeimagens.com.br/images/004/651/068/thumb/caixa01.png?1698639680" alt="lorem1">
  
</section>
