<section class="add-product container">
  <h1>Cadastro de produtos</h1>
  <form #addProduct="ngForm" class="formulario">
    <div class="itens-formulario">
        <div class="product-data">

         <div class="mb-3">
            <label class="form-rotulo">Nome do produto<span>*</span></label>
            <input type="text" class="form-input" ngModel name="name" placeholder="Nome do produto">
         </div>
          
         <div class="mb-3">
            <label class="form-rotulo form-label">Descrição do produto<span>*</span></label>
            <textarea type="text" class="form-input form-control " ngModel name="description-product" placeholder="Descrição do produto" rows="3"></textarea>
         </div>
         <div class="mb-3"></div>
         <div class="mb-3"></div>
         <div class="mb-3"></div>
         <div class="mb-3"></div>
         

          <label class="form-rotulo">REF<span>*</span></label>
          <input type="text" class="form-input" ngModel name="ref-product" placeholder="Referência do produto">

          <label class="form-rotulo">Preço(R$)<span>*</span></label>
          <input type="text" class="form-input" ngModel name="price-product" placeholder="Preço do produto">

          <label class="form-rotulo">Cores<span>*</span></label>
          <input type="text" class="form-input" ngModel name="color-product" placeholder="Cor do produto">

          <label class="form-rotulo">Categorias de produto<span>*</span></label>
          <input type="text" class="form-input" ngModel name="category-product" placeholder="Categorias do produto">

        </div>
    </div>
  </form>
</section>

