<section class="add-product container">
  <h1 class="text-center">Cadastro de produtos</h1>

    <div class="itens-formulario">
        <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="formulario">

              <input type="text" class="form-input form-control" ngModel name="name" placeholder="Nome do produto">


              <textarea type="text" class="form-input form-control " ngModel name="description" placeholder="Descrição do produto" rows="3"></textarea>

              <input type="text" class="form-input form-control" ngModel name="price" placeholder="Preço do produto (R$)">


              <input type="text" class="form-input form-control" ngModel name="color" placeholder="Cor do produto">


              <input type="text" class="form-input form-control" ngModel name="category" placeholder="Categorias do produto">


              <input type="text" class="form-input form-control" ngModel name="image" placeholder="Url da img do produto">

              <div class="btn-form">
                <button  class="btn-azul btn-azul-grande">Cadastrar Produto</button>
              </div>
              <div *ngIf="exibeMensagem" class="">
                 <p class="message-success text-center"> {{addProductMessage}} </p>
              </div>
        </form>
    </div>
</section>

